language: generic
sudo: required
services:
  - docker
env:
  global:
    - SHA=$(git rev-parse HEAD)
    - DOCKER_COMPOSE_VERSION=1.24.1
before_install:
  - docker build -t brurez/flash-tube-t -f ./client/Dockerfile.dev ./client
script:
  - docker run -e CI=true brurez/flash-tube-client-t npm run test -- --coverage
after_success:
  - docker build -t brurez/flash-tube-client ./client
  - docker build -t brurez/flash-tube-server ./server
  # Log in to the docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # Install Kubectl
  - curl -Lo kubectl https://storage.googleapis.com/kubernetes-release/release/v1.10.0/bin/linux/amd64/kubectl && chmod +x kubectl && sudo mv kubectl /usr/local/bin/
deploy:
  provider: script
  script: bash ./deploy.sh
  on:
    branch: master
