apiVersion: apps/v1
kind: Deployment
metadata:
  name: server-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      component: server
  template:
    metadata:
      labels:
        component: server
    spec:
      containers:
        - name: server
          image: brurez/flash-server
          ports:
            - containerPort: 5000
          env:
          - name: AWS_MEDIA_BUCKET
            valueFrom:
              configMapKeyRef:
                name: env-config
                key: AWS_MEDIA_BUCKET
          - name: AWS_PROFILE
            valueFrom:
              configMapKeyRef:
                name: env-config
                key: AWS_PROFILE
          - name: AWS_REGION
            valueFrom:
              configMapKeyRef:
                name: env-config
                key: AWS_REGION
          - name: POSTGRES_DATABASE
            valueFrom:
              configMapKeyRef:
                name: env-config
                key: POSTGRES_DATABASE
          - name: POSTGRES_HOST
            valueFrom:
              configMapKeyRef:
                name: env-config
                key: POSTGRES_HOST
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: env-secret
                key: POSTGRES_PASSWORD
          - name: POSTGRES_USERNAME
            valueFrom:
              secretKeyRef:
                name: env-secret
                key: POSTGRES_USERNAME
          volumeMounts:
          - name: aws-secret
            mountPath: "/root/.aws/"
            readOnly: true
          imagePullPolicy: Always
      restartPolicy: Always
      volumes:
      - name: aws-secret
        secret:
          secretName: aws-secret
